/*meta-form specific styles*/

.question {
/*  background-color: #ddd; */
}

.presentation {
/*  border:1px solid green; */
}

.incomplete {
  border: 1px solid red;
}

.errors {
	color: #e00;
}

.followup {
  border:1px solid blue;
}

/* Widget Classes */

.checkbox_group {
  border-width: 0px;
}

.radio_buttons {
  border-width: 0px;
}
