/*meta-form specific styles*/

.question {
/*  background-color: #ddd; */
}

.presentation {
/*  border:1px solid green; */
}

.incomplete {
  border: 1px solid red;
}

.errors {
	color: #e00;
}

.followup {
  border:1px solid blue;
}

/* Widget Classes */

.checkbox_group { 
	width: auto;
}
td.checkbox_group {
	padding: 5px;
}

.radio_buttons {
	width: auto;
/*	clear: both;  Not in Mana */
}
td.radio_buttons {
	padding: 5px;
}

.left_margin_neg_5 {
	margin-left:-5px;
}
.textfield_1 {
	width:.7em;
}
.textfield_2 {
	width:1.3em;
}
.textfield_4 {
	width:2.6em;
}

