<%@metaform_include_assets = true%>
<h1>New Record in <%= h @form.name %></h1>

<% form_tag(Record.create_url(@form,@presentation,@current), :method => :post, :id => 'metaForm') do -%>
	<%= @record.build_html(@presentation,@current) %>
<% end -%>


